
// 行为画像模块的border颜色
$border_color:#f1f1f1;

// 标题头的颜色
$table_header_bg_color:#ebf4f7;
// 鼠标hover上去的颜色
$table_tr_hover_bg_color:#d3e1e6;
// 表格隔行换色的颜色
$table_2n_child_bg_color:#f5f9fb;
// 表格头的字体颜色
$table_header_color:#616161;
// 表格th tr的高度
$table_thtr_height:30px;
$table_thtr_font_size:12px;