$blue:#324157;
$light-blue:#3a79af;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #26bc9f;
$yellow:#FEC171;
$grey:#dbdbdb;
$panGreen: #30B08F;
//level
$very-high-color: #ff2f19;
$high-color: #fe7c11;
$mid-color: #f5cf2b;
$low-color: #2ad9db;
$very-low-color: #abd340;